<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />


    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission
        android:name="android.permission.NETWORK_SETUP_WIZARD"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SemyeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:zygotePreloadName="com.semye.android.app.SemyeZygotePreload"
        tools:targetApi="q">

        <meta-data
            android:name="com.semye.android.thirdparty.glide.Custom2GlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.semye.android.thirdparty.glide.Custom3GlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.idlefish.flutterboost.containers.FlutterBoostActivity"
            android:theme="@style/Theme.AppCompat"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" >

        </activity>
        <meta-data android:name="flutterEmbedding"
            android:value="2">
        </meta-data>


        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.item19_systemui.SystemUiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.semye.android.ui.item15_handler.HandlerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.item16_asynctask.AsyncTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item17_environment.EnvironmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item18_countdowntimer.CountDownTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item20_fitsystemwindow.FitSystemWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.semye.android.ui.jetpack.nestedscroll.ChildNestScrollActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.semye.android.ui.item21_recyclerview.RecyclerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.semye.android.ui.item21_recyclerview.RecyclerViewMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.item22_actionbar.ActionBarMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.item25_wifi.WifiMainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.item14_animation.TweenAnimationActivity" />
        <activity android:name=".ui.item14_animation.PropertyAnimationActivity" />
        <activity android:name=".ui.item14_animation.FrameAnimationActivity" />
        <activity android:name=".ui.item14_animation.AnimationMainActivity" />
        <activity
            android:name=".ui.item24_glide.GlideMainActivity"
            android:theme="@style/AppTheme3" />

        <!--启动模式start-->

        <activity
            android:name=".ui.item2_launch.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.item2_launch.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.item2_launch.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".ui.item2_launch.SingleInstanceActivity"
            android:launchMode="singleInstance" />


        <!--启动模式end-->

        <activity
            android:name=".ui.item23_fresco.FrescoMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.item26_viewmodel.ViewModelMainActivity" />
        <activity
            android:name=".ui.item27_connectivitymanager.ConnectMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item28_okhttp.OkhttpMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item29_retrofit.Retrofit2MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item14_animation.animator.ValueAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item14_animation.animator.ObjectAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item14_animation.animator.TimeAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item30_window.WindowMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item4_service.ServiceMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.item20_fitsystemwindow.FitSystemWindowFalseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FitSystemWindow" />

        <activity
            android:name=".ui.item20_fitsystemwindow.FitSystemWindowTrueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FitSystemWindow" />
        <activity
            android:name=".ui.item31_statusbar.StatusBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item13_weight.WeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item12_jni.JniActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item11_arouter.ARouterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item11_arouter.Router1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item11_arouter.Router2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item10_rxjava.RxjavaMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.item9_eventbus.EventBusMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item8_coroutines.CoroutinesMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item7_custom_view.CustomViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.item6_os.OSActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.item1_lifecycle.LifecycleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.item1_lifecycle.LifecycleTokenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.item3_vieweventdispatch.TouchEventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.item5_thread.ThreadActivity" />
        <activity android:name=".ui.thirdparty.dagger2.SecondActivity" />
        <activity android:name=".ui.thirdparty.dagger2.Dagger2SampleActivity" />
        <activity
            android:name="com.semye.android.ui.item32_like.LikeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.semye.android.ui.item33_flutter.FlutterMainActivity" />

        <service
            android:name=".module.network.NetworkListenerService"
            android:exported="false" />

        <service
            android:name="com.semye.android.ui.item4_service.job.SemyeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".ui.item4_service.SemyeService"
            android:exported="false" />

        <service
            android:name=".ui.item4_service.NormalService"
            android:exported="false" />

        <service
            android:name=".ui.item4_service.BindService"
            android:exported="true"
            android:process=":yesheng" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.semye.android.ui.jetpack.startup.FrescoInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.semye.android.ui.jetpack.startup.GlideInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.semye.android.ui.jetpack.startup.ARouterInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>


</manifest>