<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NETWORK_SETUP_WIZARD" />

    <application
        android:name=".SemyeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:zygotePreloadName="com.semye.android.app.SemyeZygotePreload"
        tools:targetApi="q">

        <meta-data
            android:name="com.semye.android.thirdparty.glide.Custom2GlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.semye.android.thirdparty.glide.Custom3GlideModule"
            android:value="GlideModule" />


        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SystemUiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.semye.android.os.handler.HandlerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".os.AsyncTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".os.EnvironmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".os.CountDownTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.fitsystemwindow.FitSystemWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.semye.android.jetpack.nestedscroll.ChildNestScrollActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.semye.android.jetpack.recyclerview.RecyclerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.semye.android.jetpack.recyclerview.RecyclerViewMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".app.ActionBarMainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".network.wifi.WifiMainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".animation.TweenAnimationActivity" />
        <activity android:name=".animation.PropertyAnimationActivity" />
        <activity android:name=".animation.FrameAnimationActivity" />
        <activity android:name=".animation.AnimationMainActivity" />
        <activity
            android:name="com.semye.android.thirdparty.glide.GlideMainActivity"
            android:theme="@style/AppTheme3" />

        <!--启动模式start-->

        <activity
            android:name=".launch.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".launch.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".launch.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".launch.SingleInstanceActivity"
            android:launchMode="singleInstance" />


        <!--启动模式end-->

        <activity
            android:name="com.semye.android.thirdparty.fresco.FrescoMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".jetpack.viewmodel.ViewModelMainActivity" />
        <activity
            android:name=".network.ConnectMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.semye.android.thirdparty.okhttp.OkhttpMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.semye.android.thirdparty.retrofit.Retrofit2MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.animator.ValueAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.animator.ObjectAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.animator.TimeAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WindowMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.service.ServiceMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.fitsystemwindow.FitSystemWindowFalseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FitSystemWindow" />

        <activity
            android:name=".view.fitsystemwindow.FitSystemWindowTrueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FitSystemWindow" />
        <activity
            android:name=".view.statusbar.StatusBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jni.JniActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thirdparty.arouter.ARouterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thirdparty.arouter.Router1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thirdparty.arouter.Router2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thirdparty.rxjava.RxjavaMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thirdparty.eventbus.EventBusMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutines.CoroutinesMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CustomViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".os.OSActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".bluetooth.BluetoothMainActivity" />

        <activity
            android:name=".lifecycle.LifeCycleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".lifecycle.LifeCycleTokenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.touchevent.TouchEventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".threa.ThreadActivity" />
        <activity android:name=".thirdparty.dragger2.SecondActivity" />
        <activity android:name=".thirdparty.dragger2.Dragger2SampleActivity" />

        <service
            android:name=".network.NetworkListenerService"
            android:exported="false" />

        <service
            android:name="com.semye.android.app.service.job.SemyeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".app.service.SemyeService"
            android:exported="false" />

        <service
            android:name=".app.service.NormalService"
            android:exported="false" />

        <service
            android:name=".app.service.BindService"
            android:exported="true"
            android:process=":yesheng" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.semye.android.jetpack.startup.FrescoInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.semye.android.jetpack.startup.GlideInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.semye.android.jetpack.startup.ARouterInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>


</manifest>